<h3>Buscar por región <small>{{regionActiva | titlecase}}</small></h3>
<hr>
<h5>Seleccione la región</h5>

<div class="row">
    <div class="col">
        <!-- Forma 1 -->
        <!-- <button *ngFor="let region of regiones" class="btn btn-outline-primary" [class.btn-primary]="region === regionActiva" (click)="activarRegion(region)"> -->
        
        <!-- Forma 2 -->
        <!-- <button *ngFor="let region of regiones" class="btn btn-outline-primary" [ngClass]="{
            'btn-primary': region===regionActiva,
            'btn-outline-primary': region!==regionActiva
        }" (click)="activarRegion(region)">
            {{region}}
        </button> -->

        <!-- Forma 3 -->
        <button *ngFor="let region of regiones" [class]="(region===regionActiva?'btn btn-primary':'btn btn-outline-primary')" (click)="activarRegion(region)">
            {{region}}
        </button>
    </div>
</div>

<div class="row">    
    <div *ngIf="paises.length>0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>